{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container" style="margin-top:4%; opacity: 0.8; width: 800px;">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 bg-white poster">
        <p class="mt-4">User/New-Business/<a href="{% url 'index'%}" class="text-primary">Feed</a></p>
            <h3 class="text-center tt ">Add a Business to your hood</h3>
            <form action="" method="post">
                {% csrf_token%}
                {{form|crispy}}
                <button type="submit" class="btn btn-sm btn-success">Save Business</button>
                <button type="button" class="btn btn-sm btn-outline-danger ">
                    Close
                </button>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>

</div>
{% endblock %}