<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <img src="{static ''}" alt="">
        <a class="navbar-brand" href="{% url 'index'%}">MY-HOOD</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'profile' user.username %}" class="nav-link">
                        &nbsp; Profile
                        <img class="rounded-circle nav-img"src="{{ user.profile.profile_picture.url }}" alt="">    
                    </a>
        
                </li>
            
                {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'login' %}">Log In</a>
                </l>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
                </li>
                {% endif %}
                </ul>
                
                <ul class="nav navbar-nav ">
            {% if user.is_authenticated %}
                
                <li class="nav-item">
                    <a href="{% url 'edit-profile' user.username %}">
                        &nbsp; Edit Profile                        
                    </a>
                </li>
                
                <li class="nav-item">
                    <a href="{% url 'hood' %}">
                        &nbsp; Hoods
                    </a>
                </li>
            </ul>
            
            <div class="logout" style="margin-left:1%;">
                <a href="{% url 'logout' %}" class="btn btn-sm btn-secondary d-block mx-auto"> Logout</a>
            </div>
        
            {% endif%}
        </div>
    </div>
</nav>

